/*--------------------------------------------------------------
# For Loading
--------------------------------------------------------------*/
.loading-app {
    position: relative;
}
.loading-app:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(175, 206, 255, 0.1);
    background-image: url("../images/gif-load.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    content: "";
    z-index: 10000;
}
/*--------------------------------------------------------------
# For Other
--------------------------------------------------------------*/
.select2-container--default .select2-selection--single {
    height: 40px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 7px !important;
}
.select2 {
    width: 100% !important;
}
